<div style="text-align: center">
  <h1>Welcome to rok-stat!</h1>
  <img
    width="450"
    src="https://raw.githubusercontent.com/nrwl/nx/master/images/nx-logo.png"
    alt="Nx - Smart, Extensible Build Framework"
  />
</div>
<div>Message: {{ hello$ | async | json }}</div>
<input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

   {{fileName || "No file uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
</div>

<input type="file" class="file-input"
       (change)="onImageSelected($event)" #imageUpload>

<div class="file-upload">

   {{fileName || "No file uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="imageUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
</div>